@model HotelManagement.ViewModels.CustomersViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header bg-info text-white">
                <h5 class="text-uppercase text-center">Registration Info</h5>
            </div>
        <div class="card-body">
            
            <form asp-action="Register">
                @if ( ViewData [ "Success" ] != null )
                {
                    <label class="text-success">@ViewData["Success"]</label>
                }

                @if ( ViewData [ "Fail" ] != null )
                {
                    <label class="text-success">@ViewData["Fail"]</label>
                }

                    <div class="form-group mt-2">
                    <label asp-for="FirstName">FirstName</label>
                    <input asp-for="FirstName" class="form-control mt-2" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                    <div class="form-group mt-2">
                    <label asp-for="LastName">LastName</label>
                    <input asp-for="LastName" class="form-control mt-2" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                    <div class="form-group mt-2">
                    <label asp-for="IdentificationNumber">IdentificationNumber</label>
                    <input asp-for="IdentificationNumber" class="form-control mt-2" />
                    <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
                </div>

                    <div class="form-group mt-2">
                    <label asp-for="DateOfBirth">DateOfBirth</label>
                    <input asp-for="DateOfBirth" class="form-control mt-2" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>

                    <div class="form-group mt-2">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control mt-2" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                    <div class="form-group mt-2">
                    <label asp-for="PhoneNumber">PhoneNumber</label>
                    <input asp-for="PhoneNumber" class="form-control mt-2" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                    <div class="form-group mt-2">
                    <label asp-for="Address">Address</label>
                    <input asp-for="Address" class="form-control mt-2" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                    <input type="submit" value="Register" class="btn btn-sm btn-success text-uppercase rounded-0 mt-2" />
            </form>
        </div>
    </div>
</div>
</div>

